// {{ ansible_managed }}

Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}-security";
    "${distro_id}ESMApps:${distro_codename}-apps-security";
    "${distro_id}ESM:${distro_codename}-infra-security";
};

Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";

Unattended-Upgrade::Automatic-Reboot "{{ base_unattended_upgrades_autoreboot | lower }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ base_unattended_upgrades_autoreboot_time }}";
